<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimpleFileServer</title>
</head>
<body>

    <div style="margin-left: 25px; margin-top: 25px;">
        <div id="Title">#(title)</div>

        <p>
            <label for="CheckAll">
                <input id="CheckAll" class="sfs-input" name="CheckAll" type="checkbox" />
            </label>
            <label>全选</label>
            &nbsp;
            &nbsp;
            <button id="btn-download" type="button">下载</button>
            <button id="btn-delete" type="button">删除</button>
            <button id="btn-upload-ctl" type="button">上传</button>
        </p>
        <div hidden id="div-upload">
            <form id="form-upload">
                <input type="file" id="file000" name="file000" multiple="multiple">
            </form>
            <button type="button" id="btn-upload">保存</button>
        </div>

        <ul>
            #for(vo: voList)
            <li>
                #if(vo.canBeSelected)
                    <label>
                        <input name="CheckOne" class="sfs-input" type="checkbox" fileName="#(vo.fileName)" />
                    </label>
                #else
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                #end
                <a href="#(vo.url)" isFile="#(vo.voIsFile)">#(vo.displayName)</a>
            </li>
            #end
        </ul>
    </div>

    <script type="text/javascript" src="/webjars/webjar-jquery/3.5.1/dist/jquery.min.js"></script>
    <script>

        (function () {

            /**
             * 页面控制器对象.
             * @constructor
             */
            let PageController = function () {
                this.$Title = $("#Title");
                this.$FileItems = $("a[isFile=true]");
                this.$CheckAll = $("#CheckAll");
                this.$CheckOneItems = $("input[name=CheckOne]");
                this.$BtnDownload = $("#btn-download");
                this.$BtnDelete = $("#btn-delete");
                this.$BtnUpload = $("#btn-upload-ctl");
                this.$UploadDiv = $("#div-upload");
                this.$UploadForm = $("#form-upload");
                this.$UploadBtn = $("#btn-upload");
            }

            PageController.prototype = {
                /**
                 * 设置初始状态.
                 * @returns {PageController}
                 */
                Initialize: function () {
                    $(".sfs-input").prop("checked", false);
                    this.$BtnDelete.attr("disabled", true);
                    this.$BtnDownload.attr("disabled", true);
                    return this;
                },

                /**
                 * 绑定事件.
                 * @returns {PageController}
                 */
                BindEvent: function () {
                    let _this = this;
                    _this.$FileItems.click(function () {
                        window.open($(this).attr("href"), "_parent");
                        return false;
                    });
                    _this.$CheckAll.click(function () {
                        _this.$CheckOneItems.prop("checked", this.checked);
                        _this.$BtnDelete.attr("disabled", !this.checked);
                        _this.$BtnDownload.attr("disabled", !this.checked);
                    });
                    _this.$CheckOneItems.click(function () {
                        let checkedCount = 0;
                        $.each(_this.$CheckOneItems, function (index, $item) {
                            checkedCount += $item.checked ? 1 : 0;
                        });
                        _this.$CheckAll.prop("checked", checkedCount === _this.$CheckOneItems.length);
                        let noItemSelected = checkedCount === 0;
                        _this.$BtnDelete.attr("disabled", noItemSelected);
                        _this.$BtnDownload.attr("disabled", noItemSelected);
                    });
                    _this.$BtnDelete.click(function () {
                        let delConfirm = window.confirm("confirm delete choosen files ?");
                        if (delConfirm) {
                            $.ajax({
                                url: "/_/DeleteFiles",
                                type: "POST",
                                data: JSON.stringify(_this._GetSelectedFileData()),
                                contentType: "application/json",
                                success: function (result, status, xhr) {
                                    if (xhr.status === 200) {
                                        alert("delete choosen files success.")
                                    }
                                    window.location.reload();
                                },
                                error: function (xhr, status, err) {
                                    alert("delete choosen files failed.");
                                    window.location.reload();
                                }
                            })
                        }
                    });
                    _this.$BtnDownload.click(function () {
                        let _data = _this._GetSelectedFileData();
                        let _url = "/_/DownloadFiles?_p=" + _data.path + "&_f=" + _data.files.join("^");
                        window.open(_url, "_parent");
                        return false;
                    });
                    _this.$BtnUpload.click(function () {
                        _this.$UploadDiv.show();
                    });
                    _this.$UploadBtn.click(function () {
                        $.ajax({
                            url: '/_/UploadFiles?_p=' + _this._GetSelectedFileData().path,
                            type: 'POST',
                            data: new FormData(_this.$UploadForm[0]),
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function (result, status, xhr) {
                                if (xhr.status === 200) {
                                    alert("upload choosen files success.")
                                }
                                window.location.reload();
                            },
                            error: function (xhr, status, err) {
                                alert("upload choosen files failed.");
                                window.location.reload();
                            }
                        });
                    });
                    return this;
                },

                /**
                 * 获取已选择的文件信息.
                 * @returns {{path: String, files: [String, ]}}
                 */
                _GetSelectedFileData: function () {
                    let fileNames = [];
                    $.each(this.$CheckOneItems, function (index, item) {
                        if (item.checked) {
                            let fileName = $(item).attr("fileName");
                            if (fileName) {
                                fileNames.push(fileName);
                            }
                        }
                    });
                    return {
                        path: this.$Title.html(),
                        files: fileNames
                    };
                }

            };

            // 页面初始化.
            new PageController().BindEvent().Initialize();
        })();
    </script>
</body>
</html>
